body{
    background: rgb(34,195,185);
    background: linear-gradient(270deg, #22c3b9 0%, rgba(210,108,193,0.9026961126247374) 100%);
}

.btn-group-vertical{
    background-color: #6C4AB6;
    position:relative;
    top:10em;
    height: 300px;
    margin-right: 10em;
    width: fit-content;
    margin-left: 10px;
}

.sidebar-btn{
    background-color:#6C4AB6;
    border: none;
}







