body{
    background-color: #2a2c2e;
}

.btn-group-vertical{
    background-color: #6c757d;
    position:relative;
    top:10em;
    height: fit-content;
    margin-right: 10em;
    margin-left: 10px;
    border-radius:7%;
}







