.big-home-container{
    position: absolute;
    margin-left: 100px;
    top:15%
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.box{
    background-color: wheat;
    display: inline-block;
    margin: 10px;
    width: 130px;
    border-radius: 10%;
    
}
.stock-symbol{
    background-color: rgb(112, 106, 95);
}
.gainers{
    position:relative;
    margin-left: 100px;
    margin-right: 50px;
}
.losers{
    position:relative;
    margin-left: 100px;
    margin-right: 50px;
}