.big-home-container{
    position: absolute;
    margin-left: 100px;
    top:10%
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
h2{
    display: block;
    color: whitesmoke;
    text-align: center;
}
.box{
    background: #2e2d2e9f;
    display: inline-block;
    margin: 7px;
    width: 130px;
    border-radius: 10%;
    color: white;
}
.stock-symbol{
    background-color: #d7d6d9;
    color: black;
}
.gainers{
    position:relative;
    margin-left: 100px;
    margin-right: 50px;
}
.losers{
    position:relative;
    margin-left: 100px;
    margin-right: 50px;
}
.render-info{
    position: relative;
    right:2em;

}