.big-home-container{
    width: fit-content;
    position: absolute;
    top:0px;
    margin-left: 27em;
    margin-top: 10em;

}

.home-container{
    height: 400px;
    width: 250px;
    background-color: whitesmoke;
    display: inline-block;
    margin: 30px;
}

