 #current-value{ 
    display: inline-block;
}

#total-invested {
    display: inline-block;
    margin-right: 28em;
}
#portfolio-info{
    color: white;
    position: absolute;
    margin-top : 7em;
    margin-left: 7em;
}


h1 {
    color: white;
    position: absolute;
    top: 0px;
    margin-left: 15em;
    display: inline-block;
}