 #current-value{ 
    display: inline-block;
}

#total-invested {
    display: inline-block;
    margin-right: 28em;
}
#portfolio-info{
    color: white;
    position: absolute;
    margin-top : 7em;
    margin-left: 7em;
}
